body {
    display: flex;
    gap: 20px;
}
#result, #history {
    flex: 1;
}
.history-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.block{
    background-color: blanchedalmond;

}

.block__title{

}

@media (max-width: 768px) {
    .block{
        width: 30%;
    }
}